{% comment %} layout/custom.liquid {% endcomment %}
  <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ 'custom-style.css' | asset_url }}">
      <title>{{ page_title }}</title>
      <link rel="stylesheet" href="https://fonts.shopifycdn.com/karla/karla_n4.css">
      <link rel="stylesheet" href="https://fonts.shopifycdn.com/montserrat/montserrat_n4.css">
      {{ content_for_header }}
      <!-- Swiper CSS -->
      <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
     <!-- Swiper JS -->
     <script defer src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
    </head>
    <body>
      <!-- Включение кастомного хедера -->
      {% section 'custom-header' %}
      {% section 'custom-hero' %}
      {% section 'custom-catalog' %}
      <!-- Основной контент страницы -->
      {% comment %} <main class="main-content">
        {{ content_for_layout }}
      </main> {% endcomment %}
    
      <!-- Footer -->
      {% comment %} {% render 'footer' %} {% endcomment %}
      </body>
    </html>
    