{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Our Products"
    },
    {
      "type": "range",
      "id": "slider_speed",
      "label": "Slider Speed",
      "default": 3000,
      "min": 1000,
      "max": 9500,
      "step": 500,
      "unit": "ms"
    },
    {
      "type": "checkbox",
      "id": "loop_slides",
      "label": "Loop Slides",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Slide Title",
          "default": "Ultimate Creatine 250g"
        },
        {
          "type": "text",
          "id": "slide_subtitle",
          "label": "Slide Subtitle",
          "default": "The Health Project"
        },
        {
          "type": "text",
          "id": "slide_button_text",
          "label": "Button Text",
          "default": "Buy now"
        },
        {
          "type": "url",
          "id": "slide_button_link",
          "label": "Button Link",
          "default": "/"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}

<div class="hero-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="slide-content" style="background-image: url({{ block.settings.slide_image | image_url }});">
            <div class="slide-text">
              <h2>{{ block.settings.slide_title | upcase }}</h2>
              <p>{{ block.settings.slide_subtitle | upcase }}</p>
              {% if block.settings.slide_button_text %}
                <a href="{{ block.settings.slide_button_link }}" class="slide-button">
                  {{ block.settings.slide_button_text }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- Кнопки навигации -->
    <div class="custom-swiper-navigation">
      <div class="swiper-button-prev custom-swiper-button">
        <div class="arrow-left"></div>
      </div>
      <div class="swiper-button-next custom-swiper-button">
        <div class="arrow-right"></div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const swiper = new Swiper('.swiper-container', {
      loop: {{ section.settings.loop_slides | json }},
      speed: {{ section.settings.slider_speed }},
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    });
  });
</script>

<style>
.hero-slider {
  position: relative;
  margin-top: 78px;
  max-width: 100%;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.slide-content {
  display: block;
  align-content: center;
  color: #fff;
  background-repeat: no-repeat;
  width: 1100px;
  height: 861px;
  margin: 0 auto;
}

.slide-text {
  margin-top: 617px;
}

.slide-content h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  {% comment %} margin-bottom: 10px; {% endcomment %}
  color: #231F20;
}

.slide-content p {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  {% comment %} margin-bottom: 20px; {% endcomment %}
  color: #808080;
}

.slide-button {
  display: inline-block;
  padding: 15px 30px;
  background: #42ABDE;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-size: 18px;
}

/* Стили для навигационных стрелок */
.custom-swiper-navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: -50px; /* Расположение стрелок под слайдером */
  left: 50%;
  transform: translateX(-50%);
}

.custom-swiper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: 2px solid #42ABDE;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}

.custom-swiper-button:hover {
  background: #42ABDE; /* Изменение цвета фона при наведении */
}

.custom-swiper-button:hover .arrow-right,
.custom-swiper-button:hover .arrow-left {
  border-color: #fff; /* Изменение цвета стрелок при наведении */
}

/* Стили стрелок */
.arrow-right,
.arrow-left {
  display: block;
  width: 16px;
  height: 16px;
  border: solid #42ABDE;
  border-width: 0 4px 4px 0;
}

.arrow-right {
  transform: rotate(-45deg); /* Поворот стрелки вправо */
}

.arrow-left {
  transform: rotate(135deg); /* Поворот стрелки влево */
}
</style>
