{% schema %}
{
  "name": "Collection Section",
  "settings": [
    {
      "type": "textarea",
      "id": "catalog_text",
      "label": "Catalog Body Text",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam."
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom Sections",
      "settings": {
        "catalog_text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsan quam."
      }
    }
  ]
}
{% endschema %}


<div class="collection-section" id="catalog">
    <div class="collection-wrapper">
      <!-- Ссылки на коллекции -->
      <div class="collection-links">
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            {% if block.type == 'collection' %}
              <a href="#" class="collection-link {% if forloop.first %}active{% endif %}" data-handle="{{ block.settings.collection.handle }}">
                {{ block.settings.collection.title }} <sup class="catalog-product-count">{{ block.settings.collection.products_count }}</sup>
              </a>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for collection in collections %}
            <a href="#" class="collection-link {% if forloop.first %}active{% endif %}" data-handle="{{ collection.handle }}">
              {{ collection.title }} <sup class="catalog-product-count">{{ collection.products_count }}</sup>
            </a>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="catalog-body-text-wrapper">
    <p class="catalog-body-text">{{ section.settings.catalog_text }}</p>
    </div>
    <!-- Контейнер для продуктов -->
    <div class="swiper-container swiper-catalog">
      <div class="swiper-wrapper">
        <!-- Продукты каждой коллекции -->
        {% for collection in collections %}
          {% for product in collection.products %}
            <div class="swiper-slide catalog-product-item" data-collection="{{ collection.handle }}">
              <div class="catalog-product-image-wrapper">
                <img width="450px" height="435px" src="{{ product.featured_image | image_url}}" alt="{{ product.title }}" class="product-image" />
              </div>
              <div class="catalog-product-details">
                <h5 class="catalog-product-description">{{ product.description }}</h5>
                <p class="catalog-product-weight"> {{ product.weight }} {{ product.weight_unit }} 200g</p>
                <h4 class="catalog-product-price">{{ product.price | money }}</h4>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
  
      <!-- Кнопки навигации со встроенными SVG -->
      <div class="catalog-swiper-navigation">
        <div class="swiper-catalog-button-prev">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
             <rect width="50" height="50" rx="25" transform="matrix(-1 0 0 1 50 0)" fill="#F8F8F8"/>
             <path d="M34.8989 25H15.0999M15.0999 25L21.6996 18.4004M15.0999 25L21.6996 31.5997" stroke="#42ABDE" stroke-width="1.5"/>
            </svg>
        </div>
        <div class="swiper-catalog-button-next">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
             <rect width="50" height="50" rx="25" fill="#F8F8F8"/>
             <path d="M15.1011 25H34.9001M34.9001 25L28.3004 18.4004M34.9001 25L28.3004 31.5997" stroke="#42ABDE" stroke-width="1.5"/>
            </svg>
        </div>
      </div>

    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Инициализация Swiper
      let catalogSwiper = new Swiper('.swiper-catalog', {
        slidesPerView: 5,
        spaceBetween: 10,
        loop: true,
        navigation: {
        nextEl: '.swiper-catalog-button-next',  // Используем кастомные кнопки
        prevEl: '.swiper-catalog-button-prev',  // Используем кастомные кнопки
        },
        breakpoints: {
          1367: {
            slidesPerView: 5,
          },
          769: {
            slidesPerView: 3,
          },
          429: {
            slidesPerView: 2,
          },
          0: {
            slidesPerView: 1,
          }
        }
      });
  
      // Обработка кликов по ссылкам коллекций
      document.querySelectorAll('.collection-link').forEach(link => {
        link.addEventListener('click', function (event) {
          event.preventDefault();
  
          // Удаляем активный класс со всех ссылок
          document.querySelectorAll('.collection-link').forEach(link => link.classList.remove('active'));
  
          // Устанавливаем активный класс для выбранной коллекции
          this.classList.add('active');
  
          // Получаем идентификатор выбранной коллекции
          const selectedCollection = this.dataset.handle;
  
          // Обновляем видимость продуктов
          document.querySelectorAll('.swiper-slide.product-item').forEach(product => {
            product.style.display = (product.dataset.collection === selectedCollection) ? 'block' : 'none';
          });
  
          // Обновляем Swiper
          catalogSwiper.update();
        });
      });
    });
  </script>

<style>
.collection-section {
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

{% comment %} .collection-wrapper {
  width: 100%;
  padding-top: 100px;
  text-align: center;
} {% endcomment %}

.collection-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.collection-link {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  line-height: 60px;
  color: #808080;
}
.collection-link sup {
  font-weight: normal;
}

.collection-link.active sup,
.collection-link:hover sup {
  color: #808080; /* Цвет для <sup> остается неизменным */
  font-weight: normal; /* Вес шрифта остается неизменным */
}

.catalog-body-text-wrapper {
   display: inline-block;
   max-width: 508px;
   padding-bottom: 20px;
}

.catalog-body-text {
font-family: "Karla", sans-serif;
font-weight: 400;
font-size: 15px;
line-height: 24px;
color: #808080;
}

.collection-link.active,
.collection-link:hover {
  font-weight: bold;
  color: #231F20;
}

.swiper-catalog {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  display: grid;
  justify-content: center;
}

.catalog-product-item {
  display: grid;
  padding-top: 60px;
  background-color: #f8f8f8;
  border-radius: 12px;
  height: 580px;
}
.catalog-swiper-navigation {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 30px;
}
.catalog-product-image-wrapper {
  height: 338px;
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.catalog-product-image {
  max-width: 100%;
  height: inherit;
}

.catalog-product-details {
padding-top: 30px
}
.catalog-product-description {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #231F20;
}

.catalog-product-weight {
font-family: "Karla", sans-serif;
weight: 400;
font-size: 15px;
line-height: 24px;
color: #808080;
}

.catalog-product-price {
  font-family: "Montserrat", sans-serif;
  weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #42ABDE;
}

.swiper-catalog-button-next:hover rect {
  fill: #42ABDE; /* Изменение цвета круга при наведении */
}
.swiper-catalog-button-prev:hover rect {
  fill: #42ABDE; /* Изменение цвета круга при наведении */
}

.swiper-catalog-button-next:hover path {
  stroke: #fff; /* Изменение цвета стрелок при наведении */
}
.swiper-catalog-button-prev:hover path {
  stroke: #fff; /* Изменение цвета стрелок при наведении */
}

@media screen and (max-width: 1366px) {
  .collection-link {
    font-size: 32px;
    line-height: 48px;
  }

  .catalog-product-item {
    padding-top: 30px;
    height: 515px;
  }

  .catalog-product-description {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #231F20;
  }

  .catalog-product-description p {
    margin: 0;
  }
  }

@media screen and (max-width: 768px) {
  .catalog-product-item {
    padding-top: 60px;
    height: 580px;
  }

  .collection-links {
    justify-content: space-between;
    margin-left: 62px;
  }
  .catalog-body-text-wrapper {
    display: block;
    text-align: left;
    margin-left: 62px;
  }
  }

@media screen and (max-width: 428px) {
  .catalog-product-item {
    padding-top: 60px;
    height: 536px;
  }

  .collection-links {
    margin-left: 22px;
  }

  .collection-link {
    font-size: 24px;
    line-height: 36px;
  }

  .catalog-body-text-wrapper {
    margin-left: 22px;
   }
  }

</style>
